{{#each songs}}
  <h2>{{title}}</h2>
  <div class="row">
    <div class="col-sm-4">
      {{artist}}  -
    </div>
        <div class="col-sm-4">
          <i>{{album.name}}</i>
        </div>
        <div class="col-sm-4">
          <a href="#" id="edit#{{key}}">Edit</a>
          <a href="#" id="delete{{key}}">Delete</a>
        </div>
  </div>
{{/each}}
